.icon-row {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 30px 10px;
    box-sizing: border-box;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.2s ease-in-out;
}
.icon-row__icon i {
    font-size: 35px;
}
.icon-row__icon span {
    margin-top: 15px;
}
.icon-row__icon_second-line {
    text-align: center;
    position: absolute;
    bottom: 15px;
}
.icon-row__icon:hover {
    cursor: pointer;
    color: pink;
}